body{
	font-family: sans-serif;
}

input[type=text], input[type=password], input[type=email]{
	width: 100%;
	padding:15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

hr{
	border: 1px solid #f1f1f1;
	margin: none;
}

.signupbtn{
	background-color: #33b5e5;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

button:hover{
	opacity: 1;
}

.cancelbtn{
	background-color: #f44336;
		color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.cancelbtn, .signupbtn{
	float: left;
	width: 50%;
}


/*.container {
	padding: 16px;
} */

/*mi serve a sistemare i floats*/
.clearfix::after{
	content:"";
	clear: both;
	display: table;
}

@media screen and (max-width: 600px){
	.cancelbtn, .signupbtn{
		width:100%;
	}
}

p a{
	font-size: 10px;
	display: inline-block;
	text-align: center;
}

.termini{
	margin-left: 15px;
}







































